*.tlog
*.opensdf
*.sdf
*.idb
*.txt
*.bin
*.bmp
*.lastbuildstate
*.exe
*.pdb
*.log
*.caffemodel
*.csproj
Visualizer_unity/DeepHandposVisulizer/Library/
Visualizer_unity/DeepHandposVisulizer/Temp/
Visualizer_unity/DeepHandposVisulizer/Obj/
*.exp
